body{
    background-color: rgba(250,246,232,255);
}
section{
    position: relative;
}
.toptext, .sidetext, .sidetext2{
    position:absolute;
    font-weight: bold;
    font-size: 30px;
}
.checkpic1, .checkpic2, .checkpic3{
    position: absolute;
    background-color: rgba(236,232,216,255);
    border-radius: 4px;
}
.checktext1, .checktext2, .checktext3{
    padding:2px;
    margin-top: 5px;
    position:absolute;
    color:white;
    background:rgba(14,17,17,255);
    border-color: rgba(236,232,216,255);
    width:216px;
    font-weight:bold;
    font-size:small;
    text-align: center;
}

.toptext{
    top:60px;
    left: 30px;
}

.sidetext{
    top: 40px;
    right: 170px;  
}

.sidetext2{
    color:red;
    top: 40px;
    right: 30px;  
}

.checkpic1{
    top:80px;
    right:30px;
}

.checktext1{
    right:30px;
    top: 240px;
}

 .checkpic2{
    top:280px;
    right:30px; 
}
.checktext2{
    
    right:30px;
    top: 430px;
    width:216px;
}

.checkpic3{
    top:470px;
    right:30px; 
}

.checktext3{
    right:30px;
    top: 630px;
}

.women1, .women2, .women3, .women4,
.women5, .women6, .women7, .women8{
    position: absolute;
    background-color: rgba(236,232,216,255);
    border-radius: 4px;
}

.women1{
    top: 100px;
    left:25px;
}
.women2{
    top:100px;
    left:290px;
}
.women3{
    top:100px;
    left:555px;
}
.women4{
    top:100px;
    right:278px;
}
.women5{
    top:370px;
    right:278px;
}
.women6{
    top:370px;
    right:545px;
}
.women7{
    top:370px;
    right:810px;
}
.women8{
    top:370px;
    right:1075px;
}
.text1, .text2, .text3, .text4{
    position:absolute;
    padding: 5px;
    font-size:large;
    font-family: Verdana;
    font-weight: bold;
    color:black;
    top: 262px;
    border: 10px;
    width:240px;
    height:45px;
    background: rgba(198,195,185,.8);
}
.text5, 
.text6, 
.text7, 
.text8{
    position: absolute;
    padding: 5px;
    font-size:large;
    font-family: Verdana;
    font-weight: bold;
    color:black;
    top: 530px;
    border: 10px;
    width:240px;
    height:45px;
    background: rgba(198,195,185,.8);
}
.price{
    color: white;
    font-weight: 600;
}
.addcart{
    padding:2px;
    margin-top: 4px;
    position:absolute;
    color:white;
    background:rgba(14,17,17,255);
    border-color: rgba(236,232,216,255);
    font-size:small;
    text-align: center;
    left:0px;
    top: 55px;
    width:245px;
}
.text1{
    left: 25px;
}
.text2{
    left:290px;
}
.text3{
    left:555px;
}
.text4{
    right:278px;
}
.text5{
    right:278px;
}

.text6{
    left:555px;
}
.text7{
    left:289px;
}
.text8{
    left:24px;
}

    
    
    
    

